<div class="container">
    <div class="header">
        <h1>Value/Worth</h1>
    </div>
    <div class="content">
        <p>Site ID: {{ siteId }}</p>
        <p>Value: {{ value }}</p>
    </div>
</div>
